/*

    Color Pallete
        Rich black: #050505
            ligher: #1a1a1a
                lighter: #2f2f2f
                darker: #131313

        Blue Munsell: #1B9AAA 
            lighter: #28b7c9
            darker: #147480

        Alabaster: #F5F1E3

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
    font-weight: 200;
}

body {
    background-color: #050505;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    font-weight: 300;
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

h1 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 14px;
}

i {
    pointer-events: none;
}

