/*

    Color Pallete
        Rich black: #050505
            ligher: #1a1a1a
                darker: #131313

        Blue Munsell: #1B9AAA 
            lighter: #28b7c9
            darker: #147480

        Alabaster: #F5F1E3

*/

.Login {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #1a1a1a;
    min-width: 250px;
    width: 90%;
    max-width: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    color: #F5F1E3;
}

.login-container > button {
    background-color: #1B9AAA;
}

.login-container > button:active {
    background-color: #147480;   
}

.intro {
    padding: 10px;
}

.intro h1 {

}

.intro p {
    padding: 4px;
}